<nav class="navbar fixed-top navbar-expand navbar-dark bg-dark justify-content-between">
   <a class="navbar-brand">Usuario: {# {{ app.user.username }} #}
   </a>
   <ul class="navbar-nav">
     <li class="nav-item m-1">{# path con la ruta a donde redirige PRINCIPAL#}
       <a class="nav-link" href="{{ path('principal') }}">Inicio</a>
     </li>
     <li class="nav-item m-1">{# path con la ruta a donde redirige LINEAS/index#}
       <a class="nav-link" href="{# {{ path('app_animales') }} #}">Listar Animales</a>
     </li>
     <li class="nav-item m-1">{# path con la ruta a donde redirige ESTACIONES/index#}
       <a class="nav-link" href="{# {{ path('app_estaciones') }} #}">Listar Usuarios</a>
     </li>
   </ul>
   <ul class="navbar-nav cerrar ">
     <li class="nav-item">{# path con la ruta a donde redirige LOGOUT/ cierra la sesión#}
       <a class="nav-link" href="{{ path('app_logout') }}">Cerrar Sesión</a>
     </li>
   </ul>
 </nav>