{% extends 'base.html.twig' %}

{% block title %}Animales Listado{% endblock %}

{% block body %}
    <h1>Buscador Animales</h1>

    <input type="text" id='formulario' class='form-control'>
    <button class='btn btn-info mb-2' id='boton'>Buscar</button>


    <table class="table">
        <thead>
            <tr>
                <th>Id...Eliminar</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Sexo</th>
                <th>Edad</th>
                {% if is_granted('ROLE_ADMIN')  %}
                    <th>Adoptador</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animale in animales %}
            <tr>
                <td>{{ animale.id }} </td>
                <td>
                    <img id="imgCabecera" src="../../img/{{ animale.foto }}" />
                </td>
                <td>{{ animale.nombreA }}</td>
                <td>{{ animale.sexo }}</td>
                <td>{{ animale.edad }}</td>
                {% if is_granted('ROLE_ADMIN')  %}
                   {% if animale.adoptador %}
                     <td>{{ animale.adoptador.username }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}  
                {% endif %}
                <td>
                    <a href="{{ path('animales_show', {'id': animale.id}) }}">Detalle</a>
                    {% if is_granted('ROLE_ADMIN')  %}    
                        <a href="{{ path('animales_edit', {'id': animale.id}) }}">Editar</a>
                    {% endif %} 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay Animales Disponibles <b> Disculpen las Molestias</b></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN')  %}
        <button  class="btn offset-4 btn-outline-light">
            <a href="{{ path('alta_animal') }}">Alta Nuevo Animal</a>
        </button>
    {% endif %}
    <script>
        const formulario =document.querySelector('#formulario');
        const boton =document.querySelector('#boton');
        const resultado = document.querySelector('#resultado');
        const anim =document.querySelectorAll('tbody td')

        const filtrar=()=>{
            console.log (formulario.value);
            const texto=formulario.value;
            for(let a of anim){
                if(a.indexOf(texto) !== -1){
                    console.log(especie)
                    resultado.innerHTML +=`<li>${especie}<li>`;
                }
            }
               
             
     
           if (resultado.innerHTML ===' '){
                resultado.innerHTML +=`<li>NO HAY<li>`;
            }
        }
        boton.addEventListener('click',filtrar);
    </script>
{% endblock %}
