{% extends 'base.html.twig' %}

{% block title %}Animales index{% endblock %}

{% block body %}
    <h1>Animales index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id...Eliminar</th>
                <th>Foto</th>
                <th>NombreA</th>
                <th>Sexo</th>
                <th>Edad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animale in animales %}
            <tr>
                <td>{{ animale.id }} </td>
                <td><img id="imgCabecera" src="{{ animale.foto }}" /> </td>
                <td>{{ animale.nombreA }}</td>
                <td>{{ animale.sexo }}</td>
                <td>{{ animale.edad }}</td>
                <td>
                    <a href="{{ path('animales_show', {'id': animale.id}) }}">Detalle</a>
                    {% if is_granted('ROLE_ADMIN')  %}    
                        <a href="{{ path('animales_edit', {'id': animale.id}) }}">Editar</a>
                    {% endif %} 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay Animales Disponibles <b> Disculpen las Molestias</b></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN')  %}
        <a href="{{ path('alta_animal') }}">Alta Nuevo Animal</a>
    {% endif %}
{% endblock %}
