{% extends 'base.html.twig' %}

{% block title %}Animales Listado{% endblock %}

{% block body %}

    <div class='row'>
        <div class='col offset-5' >
            <button id='filtro1' class='btn-secondary btn-lg'>Nueva Busqueda</button>
            <button id='filtro' class='btn-success btn-lg'>Buscador Animales</button>
        </div>
    </div> 
    <div id="dialog" title="Busca Tú Peludo...">
        <form>
            <ul>
                <li>
                    <label>Especie: </label>
                    <select name='Especie'>
                    <option value='*'> Todas </option>
                    {% for a in animales %}
                        <option>{{a.especie}} </option>                    
                    {% endfor %}
                    </select>  
                </li>
                <li>
                    <label>Raza: </label>
                    <select name='Raza'>
                    <option value='*'> Todas </option>
                    {% for a in animales %}
                        <option>{{a.raza}} </option>
                    {% endfor %}
                    </select>
                </li>
                <li>
                <label>Tamaño: </label>
                    <select name='Tamano'>
                    <option value='*'> Todos </option>
                    {% for a in animales %}
                        <option value='{{a.tamano}}'>{{a.tamano}} </option>
                    {% endfor %}
                    </select>
                </li>
                <li>
                    <label>Sexo: </label>
                    <select name='Sexo'>
                    <option value='*'> Tod@s </option>
                    {% for a in animales %}
                        <option value='{{a.sexo}}'>{{a.sexo}} </option>
                    {% endfor %}
                    </select>
                </li>
                <li>
                    <label>Edad: </label>
                    <select name='Edad'>
                    <option value='*'> Todas </option>
                    {% for a in animales %}
                        <option>{{a.edad}} </option>
                    {% endfor %}
                    </select>
                </li>
                {% if is_granted('ROLE_ADMIN')  %}
                    <li>    
                        <label>Adoptador: </label>
                        <select name='Adoptador'>
                        <option value='*'> Tod@s </option>
                        {% for a in animales %}
                            {% if a.adoptador %}
                                <option>{{a.adoptador.username}} </option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </li>
                {% endif %}
            </ul>
        </form>
    </div>
   
    <table class="table text-center">
        <thead>
            <tr>
             <th>Nombre</th>
                <th>Foto</th>
                <th>Especie</th> 
                <th>Raza</th>
                <th>Tamaño</th>
                <th>Sexo</th>
                <th>Edad</th>
                {% if is_granted('ROLE_ADMIN')  %}
                    <th>Adoptador</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animale in animales %}
            <tr>
            <td>{{ animale.nombreA }}</td>
                <td>
                    <img id="imgCabecera" src="../../img/{{ animale.foto }}" />
                </td>
                <td>{{ animale.especie }}</td>
                <td>{{ animale.raza }}</td>
                <td>{{ animale.tamano }}</td>
                <td>{{ animale.sexo }}</td>
                <td>{{ animale.edad }}</td>
                {% if is_granted('ROLE_ADMIN')  %}
                   {% if animale.adoptador %}
                     <td>{{ animale.adoptador.username }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}  
                {% endif %}
                <td>
                    <a href="{{ path('animales_show', {'id': animale.id}) }}">Detalle</a>
                    {% if is_granted('ROLE_ADMIN')  %}    
                        <a href="{{ path('animales_edit', {'id': animale.id}) }}">Editar</a>
                    {% endif %} 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay Animales Disponibles <b> Disculpen las Molestias</b></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN')  %}
        <button  class="btn offset-5 btn-outline-light">
            <a href="{{ path('alta_animal') }}">Alta Nuevo Animal</a>
        </button>
    {% endif %}
   
   <script>
        $(function () {
            $('#filtro1').hide();

            $('#filtro').click(function (e) {
                e.preventDefault();
                $('#dialog').dialog('open');
            });
            $('#dialog').dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    'Filtrar': function () {
                //Recorre la tabla leyendo las características de los animales a comparar     
                        $('tbody tr').each(function(p){
                    //Recorre el Formulario con las Características que se han indicado y Compara con la fila
                            $('form li select').each(function(i){
                                if ($(this).val() != '*'){ 
                                    if($('tbody tr').eq(p).children().eq(i+2).text() != $(this).val()){
                                        $('tbody tr').eq(p).hide();
                                    }
                                }
                            });
                        });
                        $('form')[0].reset;
                        $(this).dialog('close');
                        /*Desactiva el Buscador y activa un Botón
                        para realizar nuevas busquedas con otros criterios*/
                        $('#filtro').hide();
                        $('#filtro1').show();
                    },
                    'Cancel': function () {
                        $(this).dialog('close');
                    }
                }               
            });
            /*Recarga la página con el resultado obtenido para realizar
            otra busqueda por nuevos criterios*/
            $('#filtro1').click(function () {
                if (confirm('Seguro desea realiar Nueva Busqueda??.. Perderá los datos actuales.')) {
                    location.reload();
                }
            })
        });
    </script>
{% endblock %}
