{% extends 'base.html.twig' %}

{% block title %}Animales Listado{% endblock %}

{% block body %}

    <div class='row'>
        <div class='col offset-5' >
            <button id='filtro' class='btn-success btn-lg'>Buscador Animales</button>
        </div>
    </div> 
    <div id="dialog" title="Busca Tú Peludo...">
        <form>
            <ul>
            <li>
                <label>Especie: </label>
                <select name='Especie'>
                <option value='*'> Todas </option>
                {% for a in animales %}
                    <option>{{a.especie}} </option>                    
                {% endfor %}
                </select>  
            </li>
            <li>
                <label>Raza: </label>
                <select name='Raza'>
                <option value='*'> Todas </option>
                {% for a in animales %}
                    <option>{{a.raza}} </option>
                {% endfor %}
                </select>
            </li>
            <li>
            
            <label>Tamaño: </label>
                <select name='Tamano'>
                <option value='*'> Todos </option>
                {% for a in animales %}
                    <option value='{{a.tamano}}'>{{a.tamano}} </option>
                {% endfor %}
                </select>
            </li>
            <li>
                <label>Sexo: </label>
                <select name='Sexo'>
                <option value='*'> Tod@s </option>
                {% for a in animales %}
                    <option value='{{a.sexo}}'>{{a.sexo}} </option>
                {% endfor %}
                </select>
            </li>
            <li>
                <label>Edad: </label>
                <select name='Edad'>
                <option value='*'> Todas </option>
                {% for a in animales %}
                    <option>{{a.edad}} </option>
                {% endfor %}
                </select>
            </li>
            </ul>
        </form>
    </div>
    <div class='row'>

    </div>
   
    

    <table class="table">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Sexo</th>
                <th>Edad</th>
                {% if is_granted('ROLE_ADMIN')  %}
                    <th>Adoptador</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animale in animales %}
            <tr>
                <td>
                    <img id="imgCabecera" src="../../img/{{ animale.foto }}" />
                </td>
                <td>{{ animale.nombreA }}</td>
                <td>{{ animale.sexo }}</td>
                <td>{{ animale.edad }}</td>
                {% if is_granted('ROLE_ADMIN')  %}
                   {% if animale.adoptador %}
                     <td>{{ animale.adoptador.username }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}  
                {% endif %}
                <td>
                    <a href="{{ path('animales_show', {'id': animale.id}) }}">Detalle</a>
                    {% if is_granted('ROLE_ADMIN')  %}    
                        <a href="{{ path('animales_edit', {'id': animale.id}) }}">Editar</a>
                    {% endif %} 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay Animales Disponibles <b> Disculpen las Molestias</b></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN')  %}
        <button  class="btn offset-5 btn-outline-light">
            <a href="{{ path('alta_animal') }}">Alta Nuevo Animal</a>
        </button>
    {% endif %}
   
   <script>
        $(function () {
            $('#filtro').click(function (e) {
                e.preventDefault();
                $('#dialog').dialog('open');
            });
            $('#dialog').dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    'Filtrar': function () {
                 //     alert('Enviar Datos');
                     
                      $('tbody tr').each(function(){
                        //    console.log($(this.children).eq(2).text());
                        //    console.log('select '+$('form li:nth-child(4) select').val());
                          
                        if($(this.children).eq(2).text()!=$('form li:nth-child(4) select').val()){
                            $(this).hide();
                            console.log($(this.children).eq(2));
                            
                        }



                      })


                     
                     
                     
                      /*$('tr').append(
                            `<td class="ui-state-default"><div>PRUEBAS</div>
                            <div> PRUEBAS</div><div> PRUEBAS</div></td>`
                        );*/
                      $('form')[0].reset;
                      $(this).dialog('close');
                    },
                    'Cancel': function () {
                        $(this).dialog('close');
                    }
                }
            })
        });
    </script>
{% endblock %}
