{% extends 'base.html.twig' %}

{% block title %}Animales{% endblock %}

{% block body %}
    <h1>Animales</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animale.id }}</td>
            </tr>
            <tr>
                <th>Especie</th>
                <td>{{ animale.especie }}</td>
            </tr>
            <tr>
                <th>Raza</th>
                <td>{{ animale.raza }}</td>
            </tr>
            <tr>
                <th>Tamano</th>
                <td>{{ animale.tamano }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ animale.edad }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ animale.sexo }}</td>
            </tr>
            <tr>
                <th>NombreA</th>
                <td>{{ animale.nombreA }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('animales_index') }}">back to list</a>

    <a href="{{ path('animales_edit', {'id': animale.id}) }}">edit</a>

    {{ include('animales/_delete_form.html.twig') }}
{% endblock %}
