{% extends 'base.html.twig' %}

{% block title %}Animales{% endblock %}

{% block body %}
    <h1>Ficha: <b>{{ animale.nombreA }}</b></h1>

    <table class="table mt-4">
        <tbody>
             <tr>
                <th>Id /Se quita</th>
                <td>{{ animale.id }}</td>
            </tr>
            <tr>
                <th>Especie</th>
                <td>{{ animale.especie }}</td>
            </tr>
            <tr>
                <th>Raza</th>
                <td>{{ animale.raza }}</td>
            </tr>
            <tr>
                <th>Tamano</th>
                <td>{{ animale.tamano }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ animale.sexo }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ animale.edad }}</td>
            </tr>    
            <tr>
                <th>Esterilizado</th>
                <td>{{ animale.ficha.esterilizado  ? 'Sí' : 'No' }}</td>
            </tr>
             <tr>
                <th>Estado</th>
                <td>{{ animale.ficha.estado ? 'Vivo' : 'Fallecido' }}</td>
            </tr>
            <tr>
            {% if is_granted('ROLE_ADMIN') %}
                <th class='text-center bg-warning'>
                    <a href="{{ path('animales_edit', {'id': animale.id}) }}">Editar</a>
                </th>
                <th class='text-center bg-danger'>
                    {{ include('animales/_baja.html.twig') }}
                </th>
            <tr>       
                <th colspan="2"class='text-center bg-light'>
                    <a href="{{ path('animales_listado')}}">Listado General</a>
                </th>
            </tr>
            {% else %}
                <th class='text-center bg-warning'><a href="{# {{ path('') }} #}">ADOPTAR</a>
                </th>
                <th class='text-center bg-light'>                                        
                    <a href="{{ path('animales_disponibles') }}">Regresar a Disponibles</a>
                </th> 
            {% endif %}
            </tr>
        </tbody>
    </table>

{% endblock %}
