{% extends 'base.html.twig' %}

{% block title %}Fichas{% endblock %}

{% block body %}
    <h1>Fichas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ficha.id }}</td>
            </tr>
            <tr>
                <th>Esterilizado</th>
                <td>{{ ficha.esterilizado ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Fallecido</th>
                <td>{{ ficha.fallecido ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fichas_index') }}">back to list</a>

    <a href="{{ path('fichas_edit', {'id': ficha.id}) }}">edit</a>

    {{ include('fichas/_delete_form.html.twig') }}
{% endblock %}
